<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>스크린샷을 분석하고 정리하기 위해 사진 라이브러리에 접근합니다.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>처리된 스크린샷을 사진 라이브러리에서 삭제합니다.</string>
    <key>CFBundleDisplayName</key>
    <string>SnapSort</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
</dict>
</plist>
